.DkoAdvancedChangePassword
{
	background-color: #E7E7E7;	
	border-style: outset;
	border-width: 1px;
	border-color: Gray;	
}

.DkoAdvancedChangePasswordCancelButton
{
	background-image : url(../images/DkoMessageBox/buttonBackground.png);	
	background-repeat: repeat-x;
	margin:5px;
}

.DkoAdvancedChangePasswordButton
{
	background-image : url(../images/DkoMessageBox/buttonBackground.png);	
	background-repeat: repeat-x;
	margin:5px;
}

.DkoAdvancedChangePasswordContinueButton
{
	background-image : url(../images/DkoMessageBox/buttonBackground.png);	
	background-repeat: repeat-x;
	margin:5px;
}

.DkoAdvancedChangePasswordFailureText
{
}

.DkoAdvancedChangePasswordHyperLink
{
}

.DkoAdvancedChangePasswordInstructionText
{
}

.DkoAdvancedChangePasswordHint
{
}

.DkoAdvancedChangePasswordSuccessTest
{
}

.DkoAdvancedChangePasswordTextBox
{
}

.DkoAdvancedChangePasswordTitleText
{
	background-color: #BECBDC;
	padding:1px;
}

.DkoAdvancedChangePasswordValidatorText
{
}